.product {
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 35px;
    padding: 20px;
    background: #fffffe;
    text-align: center;
    box-shadow: 15px 15px 30px rgb(7, 0, 0, 0.5);
}

product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.5em;
}

.product p {
    font-size: 1em;
    color: black;
}

product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.5em;
}


body {
    font-family: inherit;
    margin: 0;
    padding: 0;
    background-color: #f9f4ef;
    width: 100%;
    font-size: 1.5em;
}


header{
    background:#716040;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:black px solid;
    margin: 0px;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#fffffe;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh; 
}

.button a {
    display:inline-block;
    padding: 10px 20px; 
    background-color: #716040; 
    color: white; 
    text-decoration: none;
    border-radius:0; 
}

.button a:hover {
    background-color: #716040; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color:#716040;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 97%;
    margin: 0;
}


